<h1 class="mt-2">Your Showing List</h1>
<h2 class="mt-5 mb-2">I’m Very Interested in: </h2>
<p>We will prioritize getting these items ready for you ASAP.</p>
<hr class="mt-4">
<% for i in 0..1 %>
    <%= render 'showing_card' %>
<% end %>

<h2 class="mt-5 mb-2">I’m Just Looking at: </h2>
<p>Come see these items in person! There’s no obligation to purchase onsite. </p>
<hr class="mt-4">
<% for i in 0..0 %>
    <%= render 'showing_card' %>
<% end %>