<div class="row showing-list-card mx-0 my-3">
    <%= image_tag("no_image.png") %>
    <div class="col-8 col-md-7 col-lg-6 px-4">
        <div>
            <h3 class="showing-list-item my-0 line-clamp">V-4500 Series White Vinyl Bay Window hhhhh hhhhhhhh hhhhhhhh hhhhh hhhhhhhh </h3>
            <span class="price">$51.99</span>
            <span class="value">$205</span>
        </div>
        <div class="form-group d-flex align-items-end">
            <label for="select" class="quantity mb-1 mr-2">Quantity</label>
            <select class="form-control d-inline" id="select">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </div>
    <form>
        <div class="col d-none d-lg-block px-0 align-items-center">
            <br>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                    Very Interested
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    Just Looking
                </label>
            </div>
        </div>
    </form>
    <div class="col-1 d-flex justify-content-end ml-auto">
        <div>
            <%= svg 'exit' %>
        </div>
    </div>
</div>