<div class="jumbotron jumbotron-fluid wood pb-0 pt-4">
  <div class="container bg-primary p-5">
    <h1>Our Work</h1>
    <p class="mb-0">greenGoat is a non-profit that salvages materials from residential demolition projects to reduce demolition waste. We have been re-homing building materials since 2001, and in that time, we’ve reditributed everything from front lighting fixtures to indoor infinity pools. Help us push our zero-waste vision forward by donating materials or by choosing salvaged materials for your next home improvement project.</p>
  </div>
</div>

<br/>
<br/>

<div class="container">
  <div class="row">
    <div clas="col-md-4 action2">
      <%= image_tag 'action2.png', height: '210px' %>
    </div>
    <div clas="col-md-4 action3">
      <%= image_tag 'action3.png', height: '210px' %>
    </div>
    <div clas="col-md-4 action4">
      <%= image_tag 'action4.png', height: '210px' %>
    </div>
  </div>
</div>

<br/>
<br/>
<br/>

<div class="container px-5 px-sm-0">
  <h2>Our Mission</h2>
  <p>We are on a mission to reduce waste by rerouting materials from demolitions back into reuse. Each year, the US produces ~200 million tons of demolition waste, and the fact is that many of those materials could be used in home improvement projects or new construction. By deconstructing and salvaging houses due for demolition, greenGoat aims to save the energy, raw materials, and other natural resources that are wasted when useful materials are tossed away. </p>
  <br/>
  <h2>Our Love of Old Things</h2>
  <p>We salvage materials old and new, but there is a special place in our hearts for the history in old homes. We love the craftsmanship of a hand-carved mantle, the texture of colonial bricks, and the character of an aged hardwood floor. Most of all, we love to see these materials being reused. </p>
</div>

<br/>
<br/>
<br/>

<div class="container">
  <div class="row">
    <div class="col-md-4 wood">
      <%= image_tag 'doors_and_windows.png', height: '210px' %>
    </div>
    <div class="col-md-8 bg-primary p-5">
      <h2 class="mx-0 mx-sm-4">Meet the Founder</h2>
      <p class="mx-0 mx-sm-4">Amy Bauman, founder, started the non-profit from a background of finance and artisan. In the middle of a home renovation, she wanted “to quash frustration with construction waste. I used to get really upset seeing things being tossed into dumpsters when those things were obviously useful. Today, we stem the tide of waste by offering a common-sense approach to reuse.”</p>
    </div>
  </div>
</div>

<br/>
<br/>
<br/>
  
<div class="container px-5 px-sm-0">
  <h2>Get Involved</h2>
  <p>As a non-profit, greenGoat accepts voluteers. Our tasks include a blend of mental and pysical skills. Contact us at thegoat@greengoat.org for more infomration. </p>
</div>

<br/>
<br/>
<br/>