<div class="container-fluid text-center px-0">
    <h1 class="mt-4 product-1">Salvaged Windows</h1>
    <p>Bread / Crumb / Path</p>
    <hr class="mt-4">
</div>

<div class="d-md-none">
    <p>
        <button class="btn btn-primary ml-4 mt-2" data-toggle="collapse" data-target="#mobile_filters" role="button" aria-expanded="false">FILTERS</button>
    </p>

    <div id="mobile_filters" class="collapse">
        <%= render 'filters' %>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="fixed d-none d-md-block">
            <%= render 'filters' %>
        </div>

        <div class="col p-4">
            <div class="row d-flex">
                <% @products.each do |product| %>
                    <%= render partial: 'product_card', locals: {:product => product} %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<br>







