<form class="w-100" role="search">
  <div class="input-group">
      <input type="text" class="form-control search" placeholder="Search...">
      <div class="input-group-append">
        <button id="basic-addon2" class="input-group-text search-button search-icon">
          <%= image_tag("search.svg", size: "22", alt: "search products", class:"search-icon") %>
        </button>
      </div>
    </div>
</form>